azure-identity
openai>=1.109.1
python-dotenv
pydantic
rich
aiohttp
openai-agents
agent-framework
opentelemetry-api
opentelemetry-sdk
azure-monitor-opentelemetry
azure-monitor-opentelemetry-exporter
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-semantic-conventions-ai
