azure-identity
openai>=1.109.1
python-dotenv
pydantic
rich
aiohttp
openai-agents
git+https://github.com/microsoft/agent-framework.git@main#subdirectory=python/packages/core
agent-framework-azure-ai
opentelemetry-api
opentelemetry-sdk
azure-monitor-opentelemetry
azure-monitor-opentelemetry-exporter
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-semantic-conventions-ai
