azure-identity
openai>=1.109.1
python-dotenv
pydantic
rich
aiohttp
openai-agents
agent-framework==1.0.0b251028
opentelemetry-api
opentelemetry-sdk
azure-monitor-opentelemetry
azure-monitor-opentelemetry-exporter
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-semantic-conventions-ai
pydantic-ai==1.9.0
